---
---
<div class="monitor">
  <div class="monitor-bezel">
    <div class="monitor-screen">
      <slot />
    </div>
    <div class="monitor-keyboard" aria-hidden="true"></div>
    <span class="monitor-brand" aria-hidden="true">TEMPL3</span>
    <span class="monitor-led" aria-hidden="true"></span>
  </div>
</div>
